<form [formGroup]="form">
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input type="text" formControlName="oldPassword" id="oldPassword" class="form-control" type="password">
        <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
            <div [hidden]="!oldPassword.errors?.required">Old Password is required</div>
            <div [hidden]="!oldPassword.errors?.validOldPassword">Please enter valid Password</div>
        </div>
    </div>

    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="text" formControlName="newPassword" id="newPassword" class="form-control" type="password">
        <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
            <div [hidden]="!newPassword.errors?.required">New Password is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="text" formControlName="confirmPassword" id="confirmPassword" class="form-control" type="password">
        <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
            <div [hidden]="!confirmPassword.errors?.required">Re-enter password</div>
        </div>
    </div>
    <div class="alert alert-danger" *ngIf="form.invalid && confirmPassword.touched && form.errors?.passwordShouldMatch">
        Password does not match
    </div>
    <button class="btn btn-primary">Update Password</button>

</form>